html {
  background-color: #f9fafc;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  margin: 0 auto;
  max-width: 1000px;
}

.navbarcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 17.5px;
}

.navbar a {
  text-decoration: none;
  color: #69696a;
  border-radius: 50px;
}

#hireus a {
  color: #f9fafc;
  background-color: #000;
  border-radius: 50px;
  padding: 10px 35px 10px 35px;
}

#contact {
  margin-right: 5px;
}

.left {
  margin-right: auto;
  justify-content: center;
}

h1 {
  margin-top: 150px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.textcontainer {
  display: inline-block;
  margin-left: 5px;
}

.textcontainer p {
  border-left: medium solid #69696a;
  color: #69696a;
  max-width: 485px;
  text-align: left;
  padding-left: 15px;
}

.pinkcircle {
  background-color: rgba(247, 136, 167, 0.6);
  height: 290px;
  width: 290px;
  bottom: 155px;
  left: 605px;
  z-index: 25;
}

.purplecircle {
  background-color: rgba(207, 130, 213, 0.6);
  height: 145px;
  width: 145px;
  bottom: 270px;
  left: 550px;
  z-index: 35;
}

.orangecircle {
  background-color: rgba(247, 193, 162, 0.7);
  height: 190px;
  width: 190px;
  bottom: 115px;
  left: 360px;
  z-index: 50;
}

.pinkcircle, .purplecircle, .orangecircle {
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

.scrollcontainer {
  max-width: 200px;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.scroll a {
  text-decoration: none;
  background-color: #000;
  color: #f9fafc;
  padding: 8px 20px 8px 20px;
  border-radius: 50px;
}